/* Write a Sass file that assigns */

$custon_color: #3d3d3d;
$background_color: #6d6d6d;
body {
    color: $custon_color;
    background-color: $background_color;
}

p {
    color: $custon_color;
}

h2 {
    background-color: $background_color;
}